<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Створити нову нотатку</title>
</head>
<body>
<h1>Створити нову нотатку</h1>
<form method="post" action="/note/create">
    <label for="title">Заголовок:</label>
    <input type="text" id="title" name="title">
    <br>
    <label for="content">Контент:</label>
    <textarea id="content" name="content"></textarea>
    <br>
    <button type="submit">Зберегти</button>
</form>
<a href="/note/list">Повернутися до списку</a>
</body>
</html>